<!DOCTYPE html>
<html>
<head>
  <title>IFFY / FIFTY</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='wrapper'>
	<header>IFFY / FIFTY</header>
<%= yield %>
</div>
</body>
</html>
