<!DOCTYPE html>
<html>
<head>
  <title>IFFY / FIFTY</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id='overlay'>
		<div id='overlay_copy'>
			<h1>Iffy / Fifty</h1>
			<p>
				<strong>How to play:</strong> You will be presented with two random titles, there is a fifty-fifty chance that the one you select will be what you see when you click it. To win you must attempt to pick the one you think will be the correct link.<br/><br/>
				You will gain points each time you successfully pick the correct link. You can use these points to "pass" on links you would like to remain un-clicked. 
			</p>
			<p>
				<strong>NSFW:</strong> Iffy/Fifty contains a very large number of NSFW ( Not Safe For Work ) links. There is a "flag" link on each title, if the title or link attributed to the title violates any law please click the flag and send it for moderation.
			</p>
			<p>
				<strong>Submit:</strong> You can submit links and titles to iffy/fifty by clicking on the submit link up top.
			</p>
			<p><input type='button' class='button' value='play' id='play_btn'></p>
		</div>
	</div>
	<div id='wrapper'>
		<header>
			<div id='pass'>pass</div>
			<a href='#'>IFFY / FIFTY</a>
			<div id='score'></div>
		</header>
	<%= yield %>
	</div>
</body>
</html>
